body{
	background-image: url("../images/HipHopBG.jpg");
}
div{
	border: solid 2px purple;
	background-color: white;
	margin: 10px;
	width: 25%
	padding: 10px;	
}
span{
	font-family: 'Sedgwick Ave', cursive;	
	font-weight: bold;
	text-align: center;
}
h1{
	font-family: 'Sedgwick Ave', cursive;	
	font-size: 75pt;
	font-weight: bold;
	text-align: center;
}
h3{
	font-size: 20pt;
	background-color: black;
	color: white;
	border: solid 1px white;
	padding: 5px;
	font-family: 'Sedgwick Ave', cursive;
	font-weight: bold;
	text-align: center;
}
ol{
	list-style: decimal inside;
	line-height: 150%;
	font-family: 'Sedgwick Ave', cursive;
	font-weight: lighter;
}
ul {
	font-family: 'Sedgwick Ave', cursive;	
	list-style: disc inside;
	text-indent: 20px;
}
b{
	font-family: 'Sedgwick Ave', cursive;
	font-weight: bold;
}
/* Specfic Elements */
div.header{
	background-color: white;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
div.artists{
	background-color: white;
	width: 80%;
	margin:10%;
}
div.rules{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
/* Classes */
.numberToMatch{
	font-family: 'Sedgwick Ave', cursive;
	height: 90px;
	width: 90px;
	margin-left: 40%;
	float: left;
	padding: 5px;
}
.winsAndLosses{
	font-family: 'Sedgwick Ave', cursive;
	height: 90px;
	width: 90px;
	float: left;
	padding: 5px;
}
.userTotal{
	font-family: 'Sedgwick Ave', cursive;
	height: 90px;
	width: 90px;
	float: left;
	padding: 5px;w	
}
.artist{
	clear: both;
}
.artistImage{
	height: 90px;
	width: 90px;
	margin: 10px;
}
/* ID's */
.tupac{
	color: red;
}
.big{
	color: green;
}
.jayz{
	color: blue;
}
.kanye{
	color: orange;
}
